.container {
  .productgrid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;

    li {
      list-style-type: none;
    }
  }
}