.container {
  .nav {
    display: flex;
    justify-content: space-between;

    .shoptitle {
      @media (max-width: 768px) {
        font-size: 1.5em;
      }
      @media (max-width: 375px) {
        font-size: 1em;
      }
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
}